
.faq{
    margin-left: 7%;
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
}
.faq__one{
    width: 50%;
}

.faq_one_faq{
    width: 6rem;
    height: 2rem;
    border: 1px solid black;

}


.faq_one_faq>p{
    font-family: Nunito;
    text-align: center;
    margin-top:2px;

}


.faq_one_ques{
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}
.faq_one_ques>div>h1{
    font-family: Nunito;


}


.faq_one_headline>div>h1{
    font-size: 3rem;
    font-family: Nunito;
    margin-top: 2%;

}

.faq_show{
    display:flex;
}
.not_show{
    display: none;
}


@media screen and (max-width:480px) {
    .faq{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30%;
    }
    .faq__one{
        width: 100%;
    }
    .faq_one_headline>div>h1{
        width: 100%;
        font-size: 0.9rem;
    }

    .faq_one_headline>div>p{
        width: 90%;
        font-size: 0.6rem;
    }
    .faq_one_ques{
        width: 70%;

    }
    .faq_one_ques>div>h1{
        font-size: 0.9rem;

    }
    
    .faq_one_ques>div>p{
        font-size: 0.5rem;

    }

    .faq__two>img{
        width: 220px;

    }
}